name: Release a new version

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Release version (e.g., v1.0.0)'
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    strategy:
      matrix:
        goos: [linux, darwin]
        goarch: [amd64, arm64]
    steps:
    - uses: actions/checkout@v5

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: '1.24'

    - name: Build
      run: go build -o compartment

    - name: Use provided version
      run: |
        version="${{ github.event.inputs.version }}"
        echo "VERSION=$version" >> $GITHUB_ENV

    - name: Build binaries
      run: |
        GOOS=${{ matrix.goos }} GOARCH=${{ matrix.goarch }} go build -o compartment-${{ matrix.goos }}-${{ matrix.goarch }}

    - name: Upload binaries
      uses: actions/upload-artifact@v4
      with:
        name: compartment-${{ matrix.goos }}-${{ matrix.goarch }}
        path: compartment-${{ matrix.goos }}-${{ matrix.goarch }}

  release:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v5

      - name: Use provided version
        run: |
          version="${{ github.event.inputs.version }}"
          echo "VERSION=$version" >> $GITHUB_ENV

      - name: Download all artifacts
        uses: actions/download-artifact@v6
        with:
          path: ./artifacts

      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ env.VERSION }}
          name: Release ${{ env.VERSION }}
          artifacts: ./artifacts/**
